<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ page.title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="https://oerc.ox.ac.uk" class="logo">
                        <img src="/images/ox_brand1_pos_rect.gif" max-height="100px" alt="Oxford University Logo"/>
                    </a>
					<nav id="nav">
						<a href="/index">Home</a>
						<a href="/about">About</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>Group Page Under Construction</h1>
				<p>Part of Oxford University Engineering Science</p>
			</section>

        <!-- Site Content -->
            {{ content }}



		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>

						<span class="icons">
							<!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
                            <a href="https://twitter.com/intent/tweet?button_hashtag=FAIRsharing_org&ref_src=twsrc%5Etfw"
                           class="twitter-hashtag-button" data-lang="en" data-show-count="false">
                            Tweet #FAIRsharing_org</a><script async src="https://platform.twitter.com/widgets.js"
                                                              charset="utf-8"></script>
						</span>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>