<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ page.title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		{% include analytics.html %}
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<!-- TODO: Replace oerc logo with an SVG file -->
					<img class="img-header" src="/images/logos/eng-ox.png"
						 alt="Oxford University Dept. of Engineering Logo"/>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/#people">People</a>
						<a href="/projects">Projects</a>
                        <a href="/publications">Publications</a>
                        <a href="/teaching">Teaching</a>
                        <a href="https://www.eng.ox.ac.uk">Department</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>Data Readiness Group</h1>
				<p style="font-size: smaller;">Based at the Oxford e-Research Centre</p>
				<p class="para-blurb">
					Better data for better science.<br/>
					We research and develop methods and tools to improve data reuse;
					we work for data transparency, research integrity and the evolution of scholarly publishing.
				</p>
				<p class="para-blurb">
					We collaborate with organisations from all sectors, in the form of collaborative research, 
					contract research, and consultancy services.
				</p>
			</section>

        <!-- Site Content -->
            {{ content }}



		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">

						<div class="copyright">
							<!--
                                <a href="http://www.oerc.ox.ac.uk">
                                <img class="img-footer" src="/images/logos/oerc.png"
                                     alt="Oxford University e-Research Centre Logo"/>
                                    </a>
                                &nbsp;
                            -->
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>.
						</div>


						<span class="icons">
							<!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
                            <!--
                            <a href="https://twitter.com/intent/tweet?button_hashtag=FAIRsharing_org&ref_src=twsrc%5Etfw"
                           class="twitter-hashtag-button" data-lang="en" data-show-count="false">
                            Tweet #FAIRsharing_org</a><script async src="https://platform.twitter.com/widgets.js"
                                                              charset="utf-8"></script>
                                                              -->
						</span>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>
